.home {
  .carousel {
    width: 100%;
    height: 450px;
    position: relative;

    .carousel-inner,
    .carousel-item,
    .carousel-content {
      height: 100%;
    }
    .carousel-item {
      .carousel-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include for-mobile-landscape {
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          padding: 0 16px;
        }
        padding: 0 100px 40px 40px;
        .carousel-image {
          width: 300px;
        }
        .item-caption {
          @include for-mobile-landscape {
            order: 1;
            text-align: center;
          }
        }
        .carousel-title,
        .carousel-text {
          color: #111;
        }

        .carousel-title {
          font-size: 36px;
          font-weight: $bold;
          @include for-mobile-landscape {
            font-size: 24px;
          }
        }
      }
    }
    .background-image {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .carousel-slide {
      .carousel-indicators {
      }
    }
    button {
      background-color: $mainGreen !important;
      width: 5px !important;
      height: 5px !important;
      border-radius: 50% !important;
    }
  }
}
