@import "../../utils/mixins";
@import "../../utils/variables";

.check-email {
  @include flexCenter(column);
  gap: 48px;
  padding: 88px 0 170px;
  img {
    @include for-mobile-landscape {
      max-width: 120px;
    }
  }
  .check-email-text {
    font-size: $sizeXL;
    font-weight: $bold;
    @include for-mobile-landscape {
      font-size: $sizeNormal;
    }
  }
}

.signup-success {
  @include flexCenter(column);
  padding: 80px 0 170px;
  gap: 46px;

  svg {
    font-size: 150px;
    fill: $mainGreen;
  }
  .signup-success-text {
    font-size: $sizeXL;
    font-weight: $bold;
  }
}
