@import "../../utils/mixins";
@import "../../utils/variables";

.profile-modal {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  @include for-tablet-landscape {
    top: 30vh;
  }
  @include flexCenter(row);
  .modal-main {
    background-color: $mainWhite;
    border: 1px solid $mainGreen;
    border-radius: 8px;
    padding: 8px 48px;
    animation: slide 0.1s linear;
    @include flexCenter(column);
    .main-button {
      padding: 6px 18px;
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
