@import "../../utils/mixins";
@import "../../utils/variables";

.private-pages {
  display: flex;
  align-items: start;
  gap: 32px;
  padding: 50px 75px 170px;
  background-color: #faf9f9;
  min-height: calc(100vh - 141px - 430px);
  @include for-tablet-landscape {
    flex-direction: column;
    align-items: center;
    padding: 40px 12px 88px;
  }
  .profile-sidebar,
  .profile-sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .profile-sidebar,
  .private-main {
    background-color: $mainWhite;
    padding: 32px 24px;
    border-radius: 8px;
  }
  .profile-sidebar {
    @include for-tablet-landscape {
      width: 100%;
      align-items: center;
    }
    .profile-sidebar-title {
      @include for-tablet-landscape {
        align-self: flex-start;
      }
    }
    .profile-sidebar-list {
      @include for-tablet-landscape {
        flex-direction: row;
        .icon-text {
          display: none;
        }
      }
      padding: 0;
      margin: 0;
      li {
        a {
          color: $mainBlack;
        }
        a.active {
          color: $mainGreen;
        }
      }
    }
  }
}

.private-page {
  flex: 1;
  .private-main {
    height: 100%;
    max-width: 800px;
  }
}
