@import "../utils/variables";
@import "../utils/mixins";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  .tello-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    .company-name {
      font-size: $logoSize;
      color: $mainGreen;
    }
    margin-bottom: 26px;
    padding-right: 32px;
  }
}

.main-button {
  padding: 16px 0;
  text-align: center;
  border: 1px solid $mainGreen;
  background-color: $mainGreen;
  color: $mainWhite ;
  border-radius: 8px;
  @include easeTransition(0.2s);
  &:hover {
    background-color: $mainWhite;
    color: $mainGreen;
  }
  &:active {
    background-color: $mainGreen;
    color: $mainWhite;
  }
}
