//!Colors

$mainBlack: #262626;
$mainGreen: #2dd06e;
$mainWhite: #fff;
$darkBlue: #2e3a59;
$secondaryWhite: #f2f2f2;
$grayPrimary: #e0e0e0;
$graySecondary: #828282;
$lightGray: #8f9bb3;
$danger: #db2c66;
$mainBlue: #2d9cdb;

//!Font Weight

$normal: 400;
$semiBold: 500;
$bold: 600;

//!Font Size

$sizeXSmall: 12px;
$sizeSmall: 14px;
$sizeNormal: 16px;
$logoSize: 34px;
$sizeBig: 20px;
$sizeXL: 24px;
