@import "../utils/mixins";
@import "../utils/variables";

.checkout-summary {
  margin: 60px 200px 150px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  @include for-tablet-landscape {
    margin: 32px 12px 150px;
  }
  .checkout-summary-title {
    margin-bottom: 32px;
  }
  .items-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .summary-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $grayPrimary;
      padding-bottom: 8px;
      .item-summary {
        display: flex;
        align-items: center;
        gap: 12px;
        @include for-mobile-landscape {
          flex-direction: column;
          align-items: flex-start;
        }
        .item-image {
          width: 100px;
          img {
            width: 100%;
          }
        }
        .item-info {
          .item-name {
            font-size: 18px;
            font-weight: $bold;
            @include for-mobile-landscape {
              font-size: 14px;
            }
          }
        }
      }
      .item-price {
        font-weight: $bold;
      }

      .item-price,
      .item-quantity {
        @include for-mobile-landscape {
          font-size: 12px;
        }
      }
    }
  }
  .checkout-total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .total-price {
      display: flex;
      flex-direction: column;
      .total {
        margin-top: 32px;
        font-size: 18px;
        font-weight: $bold;
      }
      .total-price-number {
        font-size: $sizeBig;
        font-weight: $bold;
      }
    }
  }
  form {
    margin: 32px;
    width: 50%;
    @include for-mobile-landscape {
      width: 100%;
    }
    .main-button {
      padding: 12px 32px;
    }
  }
}

.order-success {
  @include flexCenter(column);
  padding: 45px 0 200px;
  .order-success-icon {
    svg {
      font-size: 200px;
      fill: $mainGreen;
    }
  }
  .order-success-text {
    margin-bottom: 64px;
  }
  .main-button {
    padding: 12px 24px;
  }
}
