@import "../utils/variables";
@import "../utils/mixins";

.products {
  padding: 0 75px;
  margin-bottom: 140px;
  width: 100%;
  @include for-tablet-landscape {
    padding: 0 10px;
  }
  .products-content {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 32px;
    @include for-tablet-landscape {
      grid-template-columns: 1fr;
    }
    .list {
      display: flex;
      flex-direction: column;
      .list-title {
        margin-bottom: 42px;
        font-weight: $bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include for-tablet-landscape {
          margin-top: 12px;
          flex-direction: column;
          align-items: stretch;
        }
        .list-order-select {
          display: flex;
          justify-content: space-evenly;
          padding-bottom: 12px;
          @include for-tablet-landscape {
            order: -1;
          }
          .toggle-filters-button {
            display: none;
            border: none;
            background-color: transparent;
            @include for-tablet-landscape {
              display: block;
            }
          }
        }
      }
      .list-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;
        @include for-tablet-landscape {
          gap: 12px;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    .products-sidebar {
      min-width: 200px;

      @include for-tablet-landscape {
        position: absolute;
        padding: 20px 16px;
        width: 100%;
        left: -100%;
        top: 0;
        bottom: 0;
        background-color: $mainWhite;
        z-index: 200;
        @include easeTransition(0.2s);
      }
      .sidebar-title {
        display: none;
        @include for-tablet-landscape {
          display: flex;
          align-items: center;
          gap: 12px;
        }
        .close-filters-button {
          background: transparent;
          border: none;
          font-size: 18px;
          font-weight: 600;
        }
        .line {
          height: 1px;
          position: absolute;
          background-color: $grayPrimary;
          right: 0;
          left: 0;
          top: 56px;
        }
      }
      .price-filter {
        @include flexCenter(row);
        gap: 12px;
        label {
          max-width: 50%;
          input {
            width: 100%;
            padding: 4px 8px;
            border: none;
            outline: none;
            background-color: $secondaryWhite;
            border-radius: 8px;
          }
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            display: none;
          }
        }
      }
      .checkbox-container {
        display: flex;
        align-items: center;
        gap: 16px;
        label {
          cursor: pointer;
        }
        .filter-checkbox {
          display: none;
        }
        .filter-checkbox:checked ~ .custom-brand-checkbox {
          background-color: $mainGreen;
          &:before,
          &:after {
            content: "";
            position: absolute;
            height: 3px;
            background-color: $mainWhite;
            top: 45%;
            border-radius: 4px;
          }
          &:before {
            width: 7px;
            left: 10%;
            top: 51%;
            transform: rotate(45deg);
          }
          &:after {
            width: 12px;
            right: 10%;
            transform: rotate(-45deg);
          }
        }
        .custom-brand-checkbox {
          border: 1px solid $mainGreen;
          position: relative;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          background-color: rgba(0, 214, 143, 0.16);
          @include easeTransition(0.2s);
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @include for-tablet-landscape {
          margin-top: 16px;
        }
        .filter-button {
          padding: 8px 12px;
        }
      }
    }
  }
}

.show {
  left: 0 !important;
}
