@import "../utils/variables";

.footer {
  width: 100%;
  background-color: $mainBlack;
  * {
    color: $mainWhite;
  }
  a {
    &:hover {
      color: $mainWhite;
    }
  }
  .footer-main-content {
    display: flex;
    justify-content: space-between;
    padding: 46px 74px 88px 75px;
    h3 {
      margin: 0;
    }
    @include for-tablet-landscape {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      padding-bottom: 40px;
    }
  }
  .footer-social-media {
    .socials {
      display: flex;
      justify-content: space-between;
    }
  }
  .footer-menu,
  .footer-help,
  .footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include for-tablet-landscape {
      align-items: center;
      justify-content: center;
    }
    .title {
      font-weight: $semiBold;
    }
    .options {
      display: flex;
      flex-direction: column;
      padding: 0;
      @include for-tablet-landscape {
        align-items: center;
        justify-content: center;
      }
      gap: 16px;
    }
  }
  .footer-contacts {
    .options {
      @include for-tablet-landscape {
        align-items: flex-start;
      }
      .option {
        * {
          display: flex;
          gap: 20px;
        }
        &:first-child {
          a {
            color: $mainGreen;
          }
        }
      }
    }
  }
  .footer-rights {
    position: relative;
    @include for-tablet-landscape {
      flex-direction: column;
      align-items: center;
      gap: 48px;
      padding: 24px;
    }
    display: flex;
    justify-content: space-between;
    padding: 24px 28px 24px 140px;

    .line {
      position: absolute;
      bottom: 68px;
      right: 0;
      left: 0;
      height: 1px;
      background-color: $mainWhite;
    }
    .rules {
      display: flex;
      gap: 40px;
      @include for-tablet-landscape {
        order: -1;
        justify-content: space-between;
      }
    }
  }
}
